body {
    max-width: 1000px;
    margin: 0 auto;
}

.babyName {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.babyName.m {
    background: yellow;
}

.babyName.f {
    background: orange;
}

.babyNameList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainBabyNameList {
    border: red 5px dashed;

}

.favouriteBabyNameList {
    border: blue 5px dashed;

}