body {}

.babyName {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.babyName.m {
    background: yellow;
}

.babyName.f {
    background: orange;
}

.mainList {
    border: red 5px dashed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.favouritesList {
    border: blue 5px dashed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}